*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("https://wallpaperaccess.com/download/vaccine-2349013");
    background-size:100% 100%;
    background-position: center;
}
div.main{
    width:600px;
    margin: 100px auto 100px auto;
}

div.register{
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    font-size: 18px;
    border-radius: 10px;
    border:1px solid rgba(83, 18, 18, 0.3);
    box-shadow: 2px 2px 15px rgba(0,0,0,0.3);
    color: #fff;
}
h2{
    text-align: center;
    padding: 40px;
    font-family: sans-serif;
}
form#register{
    margin:20px;
}
label{
    font-family: sans-serif;
    font-size: 18px;
    font-style: italic;
}
input#name{
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: 0;
    padding: 7px;
    background-color: #fff;
    box-shadow: inset 1px 1px 5px rgba (0,0,0,0.3); 
}
input#submit{
    width: 200px;
    padding: 7px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
    border-radius: 10px;
    background-color: rgba(219, 135, 55, 0.747);
    color: #fff;
    cursor: pointer;
    border: 1px solid rgba(255,255,255,0.3);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}
label,span,h2{
    text-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}